<div class="detailed-info">
  <div class="additional-stats">
    <div class="inline">{{player.overallStats.wp.toFixed(0)}}% побед</div>
    <div class="inline">{{player.overallStats.ppg.toFixed(1)}} очка за игру</div>
    <div class="inline">Выиграл: {{player.overallStats.won}}</div>
    <div class="inline">Сыграл вничью: {{player.overallStats.drawn}}</div>
    <div class="inline">Проиграл: {{player.overallStats.lost}}</div>
    <br class="clear-both" />
  </div>
  <div class="calendar">
    <div
      class="month"
      data-ng-repeat="monthIndex in [11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] track by $index">
      <div class="caption">{{monthNames[monthIndex]}}</div>
      <div class="matches">
        <match-circle
          class="inline"
          data-ng-repeat="match in getMonthMatches(monthIndex) track by $index"
          data-match="match"></match-circle>
        <br class="clear-both" />
      </div>
    </div>
  </div>
</div>
