<div class="detailed-info">
  <div class="additional-stats">
    <div>{{player.overallStats[0].wp.toFixed(0)}}% побед</div>
    <div>{{player.overallStats[0].ppg.toFixed(1)}} очка за игру</div>
    <div>Выиграл: {{player.overallStats[0].won}}</div>
    <div>Сыграл вничью: {{player.overallStats[0].drawn}}</div>
    <div>Проиграл: {{player.overallStats[0].lost}}</div>
  </div>
  <div class="calendar">
    <div
      class="month"
      data-ng-repeat="monthIndex in [11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] track by $index">
      <div class="caption">{{monthNames[monthIndex]}}</div>
      <div class="matches">
        <match-circle
          data-ng-repeat="match in getMonthMatches(monthIndex) track by $index"
          data-match="match"></match-circle>
      </div>
    </div>
  </div>
</div>
