<div class="header">
  <div class="caption inline">Федеративный чемпионат</div>
  <div
    class="season-selector inline"
    data-ng-style="{'visibility': isSelectorPrepared ? 'visible' : 'hidden'}">
    <div
      class="toggle"
      data-ng-class="{'activated': isDropdownShown}"
      data-ng-click="toggleDropdown()">{{season}}</div>
    <div
      class="dropdown"
      data-ng-style="{'visibility': isDropdownShown ? 'visible' : 'hidden'}">
      <div
        class="dropdown-item"
        data-ng-repeat="item in seasons track by $index"
        data-ng-if="item !== season"
        data-ng-click="selectItem(item)">{{item}}</div>
    </div>
  </div>
  <br class="clear-both" />
</div>
