<div class="players-table">
  <div
    class="sticky-header-container"
    data-ng-class="{'stuck': headerIsStuck}">
    <table class="sticky-header">
      <tbody>
        <tr>
          <td class="position"></td>
          <td class="player textual">Игрочишка</td>
          <td class="points textual">Очки</td>
          <td class="games textual">Игры</td>
          <td class="won textual">В</td>
          <td class="drawn textual">Н</td>
          <td class="lost textual">П</td>
          <td class="goals textual">Забил</td>
          <td class="assists textual">Отдал</td>
          <td class="form textual">Последние матчи</td>
        </tr>
      </tbody>
    </table>
  </div>
  <table
    class="rows"
    data-ng-class="{'with-offset': headerIsStuck}">
    <tbody>
      <tr
        class="common-row"
        data-ng-repeat-start="player in data[season].players track by $index">
        <td class="position numerical">{{$index + 1}}</td>
        <td class="player textual">
          <div class="photo" data-ng-style="{'background-image': 'url(\'../img/players/' + player.fullName + '.png\')'}"></div>
          <div class="name">{{player.fullName}}</div>
        </td>
        <td class="points numerical">{{player.overallStats.points}}</td>
        <td class="games numerical">{{player.overallStats.games}}</td>
        <td class="won numerical">{{player.overallStats.won}}</td>
        <td class="drawn numerical">{{player.overallStats.drawn}}</td>
        <td class="lost numerical">{{player.overallStats.lost}}</td>
        <td class="goals numerical">{{player.overallStats.goals}}</td>
        <td class="assists numerical">{{player.overallStats.assists}}</td>
        <td class="form"></td>
      </tr>
      <tr
        class="expandable-row"
        data-ng-repeat-end
        data-ng-if="isExpanded">
        <td class="detailed-info"></td>
      </tr>
    </tbody>
  </table>
</div>
