<div class="players-table">
  <div
    class="sticky-header-container"
    data-ng-class="{'stuck': headerIsStuck}">
    <table class="sticky-header">
      <tbody>
        <tr>
          <td class="position"></td>
          <td class="player textual">
            <span
              class="sortable"
              data-ng-class="predicate === 'player' ? (reverse ? 'descending' : 'ascending') : ''"
              data-ng-click="sortableOnClick('player')">Игрочишка</span>
          </td>
          <td class="points textual">
            <span
              class="sortable"
              data-ng-class="predicate === 'points' ? (reverse ? 'descending' : 'ascending') : ''"
              data-ng-click="sortableOnClick('points')">Очки</span>
          </td>
          <td class="pm textual">
            <span
              class="sortable"
              data-ng-class="predicate === 'pm' ? (reverse ? 'descending' : 'ascending') : ''"
              data-ng-click="sortableOnClick('pm')">+/−</span>
          </td>
          <td class="games textual">
            <span
              class="sortable"
              data-ng-class="predicate === 'games' ? (reverse ? 'descending' : 'ascending') : ''"
              data-ng-click="sortableOnClick('games')">Сыграл</span>
          </td>
          <td class="goals textual">
            <span
              class="sortable"
              data-ng-class="predicate === 'goals' ? (reverse ? 'descending' : 'ascending') : ''"
              data-ng-click="sortableOnClick('goals')">Забил</span>
          </td>
          <td class="assists textual">
            <span
              class="sortable"
              data-ng-class="predicate === 'assists' ? (reverse ? 'descending' : 'ascending') : ''"
              data-ng-click="sortableOnClick('assists')">Отдал</span>
          </td>
          <td class="ga textual">
            <span
              class="sortable"
              data-ng-class="predicate === 'ga' ? (reverse ? 'descending' : 'ascending') : ''"
              data-ng-click="sortableOnClick('ga')">Г+П</span>
          </td>
          <td class="player-form textual">Последние матчи</td>
        </tr>
      </tbody>
    </table>
  </div>
  <table
    class="rows"
    data-ng-class="{'with-offset': headerIsStuck}">
    <tbody
      data-ng-repeat="player in players | orderBy:(predicate === 'player' ? ['-lastName', '-firstName'] : predicate !== 'points' ? ['overallStats[0].' + predicate, '-lastName', '-firstName'] : null):reverse track by $index"
      data-ng-class="{'champion': player.fullName === champion, 'expanded': expandedPlayers[player.fullName]}">
      <tr class="common-row">
        <td class="position numerical">
          <div class="index inline">{{$index + 1}}</div>
          <div
            class="movement inline"
            data-ng-class="{'visible': predicate === 'points' && player.movement, 'positive': player.movement > 0, 'negative': player.movement < 0}">{{player.movement | plusMinus}}</div>
          <br class="clear-both" />
        </td>
        <td
          class="player textual"
          data-ng-click="expandButtonClick(player)">
          <div class="photo" data-ng-style="{'background-image': 'url(\'../img/players/' + prepareFullName(player.fullName) + '.png\')'}"></div>
          <div class="name inline">{{player.fullName}}</div>
          <div class="expand-button inline"></div>
          <br class="clear-both" />
        </td>
        <td class="points numerical">{{player.overallStats[0].points}}</td>
        <td class="pm numerical">{{player.overallStats[0].pm | plusMinus}}</td>
        <td class="games numerical">{{player.overallStats[0].games}}</td>
        <td class="goals numerical">{{player.overallStats[0].goals}}</td>
        <td class="assists numerical">{{player.overallStats[0].assists}}</td>
        <td class="ga numerical">{{player.overallStats[0].ga}}</td>
        <td class="player-form">
          <match-circle
            class="inline"
            data-ng-repeat="match in lastMatches[player.fullName] track by $index"
            data-match="match"></match-circle>
        </td>
      </tr>
      <tr
        class="expandable-row"
        data-ng-if="expandedPlayers[player.fullName]">
        <td colspan="10">
          <detailed-info data-player="player"></detailed-info>
        </td>
      </tr>
    </tbody>
  </table>
</div>
