<div
  class="tooltip"
  data-ng-class="{'shown': isShown}"
  data-ng-style="{'left': coordinates.x + 'px', 'top': coordinates.y + 'px'}">
  <div class="date">{{tooltipData.date}}</div>
  <div
    class="match-result"
    data-ng-if="!tooltipData.noMatch">
    <span class="whites">{{tooltipData.whites}}</span>
    <span class="colon">&#58;</span>
    <span class="reds">{{tooltipData.reds}}</span>
  </div>
  <div
    class="player-result"
    data-ng-if="!tooltipData.noMatch">{{tooltipData.playerResult}}</div>
  <div
    class="no-match"
    data-ng-if="tooltipData.noMatch">{{tooltipData.noMatch}}</div>
  <div
    class="player-actions"
    data-ng-if="tooltipData.playerActions">{{tooltipData.playerActions}}</div>
</div>
