@import '../variables'

$font-color: #000
$selector-color: #77dd77
$item-hover-color: #30c230

.header
  color: $font-color

  font-family: $helvetica-neue
  font-size: 42px

.header .season-selector
  margin-left: 15px

  cursor: pointer
  user-select: none

.header .toggle
  position: relative

  padding: 0 24px 0 6px

  border-radius: 6px
  background-color: $selector-color

.header .toggle.activated
  border-radius: 6px 6px 0 0

.header .toggle::after
  position: absolute
  top: 50%
  right: 6px

  content: ''
  transform: translateY(-50%)

  border-top: 10px solid $font-color
  border-right: 6px solid transparent
  border-bottom: none
  border-left: 6px solid transparent

.header .toggle.activated::after
  border-top: none
  border-right: 6px solid transparent
  border-bottom: 10px solid $font-color
  border-left: 6px solid transparent

.header .dropdown
  position: absolute
  z-index: 99

  overflow: auto

  border-radius: 0 0 6px 6px
  background-color: $selector-color

.header .dropdown-item
  padding-left: 6px

.header .dropdown-item:not(.selected):hover
  background-color: $item-hover-color
