.match-circle
  box-sizing: border-box
  width: 14px
  height: 14px

  border-radius: 7px

.match-circle.won
  background-color: #0b5

.match-circle.drawn
  background-color: #76766f

.match-circle.lost
  background-color: #ff5533

.match-circle.missed
  border: 1px solid rgba(0, 0, 0, .167)
  background-color: #fff

.match-circle.no-match
  background-color: transparent !important

.match-circle:hover
  border: 1px solid rgba(0, 0, 0, .5)
