@import '../variables'

.players-table
  margin-left: -60px

  font-family: $graphik

.players-table table
  border-spacing: 0

.players-table table td
  box-sizing: border-box
  padding: 0

.players-table .numerical
  font-size: 16px

  font-feature-settings: 'tnum'
  font-variant-numeric: tabular-nums

.players-table .sticky-header-container
  display: table

  border-bottom: 1px #f9da8b solid

.players-table .sticky-header-container.stuck
  position: fixed
  z-index: 1
  top: 0

  background-color: #fff

.players-table .sticky-header td
  height: 36px

  font-size: 18px

.players-table .sticky-header .sortable
  position: relative

  cursor: pointer
  user-select: none

.players-table .sticky-header .sortable:after
  position: absolute
  top: 50%
  right: -15px

  display: none

  width: 12px
  height: 12px

  content: ''
  transform: translateY(-50%)

  background-image: url(../img/accessories/sort.svg)
  background-repeat: no-repeat
  background-position: center
  background-size: 100%

.players-table .sticky-header .sortable.ascending:after
  display: block

.players-table .sticky-header .sortable.descending:after
  display: block

  transform: translateY(-50%) scaleY(-1)


.players-table .rows.with-offset
  padding-top: 37px

.players-table .expanded:after
  display: block

  height: 10px

  content: ''

.players-table .common-row
  height: 36px

.players-table .champion .common-row,
.players-table .champion .expandable-row
  background-color: #fcecbc

.players-table tbody:not(.champion) .common-row:hover
  transition: background-color 0.1s ease-out

  background-color: #e9ffe9

.players-table .expanded:not(.champion) .common-row,
.players-table tbody:not(.champion) .expandable-row
  background-color: #e9ffe9

.players-table .common-row td:first-child
  border-radius: 3px 0 0 3px

.players-table .common-row td:last-child
  border-radius: 0 3px 3px 0

.players-table .expanded .common-row td:first-child
  border-radius: 3px 0 0 0

.players-table .expanded .common-row td:last-child
  border-radius: 0 3px 0 0

.players-table .rows .textual
  font-size: 16px

.players-table .position
  width: 60px

.players-table .position .index
  display: inline-block

  width: 30px

  text-align: right

.players-table .position .movement
  display: inline-block
  visibility: hidden

  margin-top: 4px
  padding-left: 5px

  font-size: 12px

.players-table .position .movement.visible
  visibility: visible

.players-table .position .movement.positive
  color: #0b5

.players-table .position .movement.negative
  color: #ff5533

.players-table .player
  position: relative

  width: 300px

  cursor: pointer

.players-table .player .photo
  position: absolute
  top: 50%

  width: 24px
  height: 24px

  transform: translateY(-50%)

  border-radius: 12px
  background-color: #ccc
  background-position: center
  background-size: 32px 32px

.players-table .player .name
  position: relative

  display: inline-block

  margin-left: 34px

.players-table .player .name:after
  position: absolute
  top: 50%
  left: calc(100% + 10px)

  display: none

  width: 14px
  height: 14px

  content: ''
  transform: translateY(-50%) rotate(180deg)

  background-image: url(../img/accessories/arrow.png)
  background-repeat: no-repeat
  background-position: center
  background-size: 14px 14px

.players-table .expanded .player .name:after
  transform: translateY(-50%) rotate(0deg)

.players-table .common-row .player:hover .name:after
  display: block

.players-table .points,
.players-table .games,
.players-table .assists
  width: 70px

  text-align: center

.players-table .pm,
.players-table .ga
  width: 60px

  text-align: center

.players-table .votes
  width: 90px
  padding-left: 20px

  text-align: center

.players-table .goals
  width: 90px
  padding-left: 20px

  text-align: center

.players-table .sticky-header td

.players-table .player-form
  width: 180px
  padding-left: 20px

.players-table .player-form .match-circle
  display: inline-block

  margin-top: 4px

.players-table .player-form .match-circle:not(:first-child)
  margin-left: 10px

.players-table .expandable-row td
  border-radius: 0 0 3px 3px
