@import '../variables'

.players-table
  margin-left: -30px

.players-table table
  border-spacing: 0

.players-table table td
  box-sizing: border-box
  padding: 0

.players-table .numerical
  text-align: right

  font-family: $pt-mono
  font-size: 16px

.players-table .textual
  font-family: $helvetica-neue

.players-table .sticky-header-container
  display: table

  border-bottom: 1px rgba(0, 0, 0, .167) solid

.players-table .sticky-header-container.stuck
  position: fixed
  z-index: 1
  top: 0

  background-color: #fff

.players-table .sticky-header td
  height: 36px

  font-size: 18px

.players-table .sticky-header .sortable
  position: relative

  cursor: pointer
  user-select: none

.players-table .sticky-header .sortable::after
  position: absolute
  right: -10px

  line-height: 1

.players-table .sticky-header .sortable:not(.ascending):hover:after
  content: '↑'

.players-table .sticky-header .sortable.ascending:after
  content: '↓'

.players-table .sticky-header .sortable.descending:after
  content: '↑'

.players-table .rows.with-offset
  padding-top: 37px

.players-table .rows .common-row
  height: 36px

.players-table .rows .expandable-row
  height: 36px

.players-table .rows .common-row.champion
  background-color: #f1f105

.players-table .rows .common-row:not(.champion):hover
  transition: background-color 0.1s ease-out

  background-color: #f5f5f5

.players-table .rows .common-row td:first-child
  border-radius: 3px 0 0 3px

.players-table .rows .common-row td:last-child
  border-radius: 0 3px 3px 0

.players-table .rows .common-row td
  vertical-align: middle

.players-table .rows .textual
  font-size: 16px

.players-table .position
  width: 30px

.players-table .rows .position
  padding-right: 10px

.players-table .player
  position: relative

  width: 300px

.players-table .player .photo
  position: absolute
  top: 6px

  width: 24px
  height: 24px

  border-radius: 12px
  background-color: #ccc
  background-position: center
  background-size: 32px 32px

.players-table .player .name
  margin-left: 34px

.players-table .player .expand-button
  display: none

  width: 18px
  height: 18px
  margin-left: 10px

  cursor: pointer
  transform: rotate(180deg)

  background-image: url(../img/accessories/arrow.png)
  background-repeat: no-repeat
  background-position: center
  background-size: 16px 16px

.players-table .player .expand-button.expanded
  display: block
  transform: rotate(0deg)

.players-table .rows .common-row:hover .expand-button:not(.expanded)
  display: block

.players-table .points
  width: 70px

.players-table .sticky-header .points
  text-align: center

.players-table .rows .points
  padding-right: 25px

.players-table .games
  width: 70px

.players-table .sticky-header .games
  text-align: center

.players-table .rows .games
  padding-right: 25px

.players-table .won
  width: 40px

.players-table .sticky-header .won
  text-align: center

.players-table .rows .won
  padding-right: 10px

.players-table .drawn
  width: 40px

.players-table .sticky-header .drawn
  text-align: center

.players-table .rows .drawn
  padding-right: 15px

.players-table .lost
  width: 40px

.players-table .sticky-header .lost
  text-align: center

.players-table .rows .lost
  padding-right: 10px

.players-table .goals
  width: 70px

.players-table .sticky-header .goals
  text-align: center

.players-table .rows .goals
  padding-right: 25px

.players-table .assists
  width: 70px

.players-table .sticky-header .assists
  text-align: center

.players-table .rows .assists
  padding-right: 25px

.players-table .form
  width: 180px
  padding-left: 10px

.players-table .detailed-info
  colspan: 10
