@import '../variables'

.players-table table
  border-spacing: 0

.players-table table th
  padding: 0
  font-size: 16px
  font-weight: normal

.players-table table td
  padding: 0

.players-table .numerical
  font-size: 12px
  font-family: $pt-mono
  text-align: right

.players-table .textual
  font-family: $helvetica-neue

.players-table .detailed-info
  colspan: 11
